<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404</title>
</head>
<body>
{{template "head"}}
<h1>{{.Title}}</h1>
<p>Try something else</p>
<footer>&copy; {{fdateMDY .Date}}</footer>
</body>
</html>
