<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yo! Wazzup everybody</title>
</head>
<body>
{{template "head"}}
<h1>Welcome to {{.Title}}</h1>
<p>some home page information</p>
<footer>&copy; {{fdateMDY .Date}}</footer>
</body>
</html>
