<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yo! Wassap everybody</title>
</head>
<body>

<li>KUBA ESENZHANOV is 24 years old</li>

<li>TINA NURDIN KYZY is 23 years old</li>

<li>MEROJ UZBEK is 22 years old</li>

<li>XIXI VIETNAMESE is 24 years old</li>


<li>BMW has 2 doors and 4 wheels</li>

<li>MER has 4 doors and 4 wheels</li>

<li>SUZ has 0 doors and 2 wheels</li>

<p>
    <p>another html template</p>
    <p>fuck that shit</p>
</p>
<footer>&copy; 15-04-2020</footer>
</body>
</html>
